# Dependencies
**/node_modules/
**/vendor/

# Build outputs
dist/
bin/
*.exe
*.dll
*.so
*.dylib

# IDEs
.idea/
.vscode/

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.python-version
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

*.venv